{
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "prettier", "plugin:react/recommended"],
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "graphql": false
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "no-tabs": 0,
    "linebreak-style": 0,
    "import/no-extraneous-dependencies": 0,
    "react/no-unescaped-entities": 0,
    "class-methods-use-this": "off"
  }
}
