{
  "parser": "@typescript-eslint/parser",
  "extends": ["prettier"],
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": ["@typescript-eslint"],
  "globals": {
    "graphql": false
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "no-tabs": 0,
    "linebreak-style": 0,
    "import/no-extraneous-dependencies": 0,
    "react/no-unescaped-entities": 0,
    "class-methods-use-this": "off",
    "import/prefer-default-export": "off"
  },
  "overrides": [{
    "files": [ "src/components/**/*.tsx"],
    "rules": {
    }
  }],
  "root": true
}
