.NotFound {
	display: flex;
	background-color: #444444;
	height: calc(100vh - 116px);
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	padding: 0px;
	min-height: 100%;
	font-family: Source Sans Pro, -apple-system, system-ui, BlinkMacSystemFont,
		'Helvetica Neue', Arial, sans-serif;
	h1 {
		font-family: inherit;
		font-weight: 500;
		line-height: 1.1;
		color: inherit;
		font-size: 36px;
		margin-bottom: 15px;
	}

	h1 small {
		font-size: 68%;
		font-weight: 400;
		line-height: 1;
		color: #777777;
	}
	a {
		text-decoration: none;
		color: #ffffff;
		font-size: inherit;
		border-bottom: dotted 1px #707070;
	}
	.lead {
		color: #c0c0c0;
		font-size: 21px;
		line-height: 1.4;
	}
	.cover {
		vertical-align: middle;
		padding: 0 20px;
	}
	img {
		margin: 20px auto;
		width: 100%;
	}
	.back-to-home {
		width: 100%;
		a {
			background-color: rgb(194, 77, 1);
			padding: 5px 0px;
			width: 160px;
			height: 50px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-transform: uppercase;
			font-size: 18px;
			margin: auto;

			&:hover {
				background-color: rgba(194, 77, 1, 0.8)
			}
		}
	}
}
