.blog-post {
	position: relative;
	.back-to-blog {
		position: fixed;
		background-color: #fafafa;
		width: 100%;
		padding: 10px;
		border-bottom: 1px solid rgba(34, 34, 34, 0.25);
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
		height: 43px;
		display: flex;
		flex-direction: row;
		z-index: 3;
		justify-content: space-between;
		a {
			display: flex;
			flex-direction: row;
			width: 125px;
			height: 100%;
			align-items: center;
		}
		p {
			display: none;
		}
	}
	a {
		display: inline-block;
		transition: background-color 0.25s ease, color 0.15s ease;
		&:hover {
			color: rgb(194, 77, 1);
		}
	}
	.container {
		width: 100%;
		padding: 43px 0px;
		background-color: $off-white;
		.wrapper {
			position: relative;
			.post-header {
				max-width: 90vw;
				min-width: 410px;
				margin: auto;
				padding: 20px;
				display: flex;
				flex-direction: column-reverse;
				&__left,
				&__right {
					display: flex;
					flex-direction: column;
				}
				&__left {
					max-width: 100%;
					min-width: auto;
					justify-content: center;
					.post-title {
						background-color: $off-white;
						margin-top: 15px;
						font-size: 1.75em;
						font-family: Lato;
					}
					.post-author {
						background-color: $off-white;
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						align-items: center;
						padding: 5px 0px 15px;
						.post-info-wrapper {
							display: flex;
						}
						.avatar {
							width: 60px;
							height: 60px;
							border-radius: 50%;
							margin-right: 12.5px;
						}
						.avatar-info {
							display: flex;
							flex-direction: column;
							justify-content: center;
							.author-name {
								font-size: 1.2em;
								font-weight: normal;
								color: rgb(194, 77, 1);
							}
							.date {
								font-size: 1em;
								color: $subtitle-text-color;
								span {
									display: inline-block;
									padding: 0px 4px;
								}
							}
						}
					}
					.share-links {
						display: flex;
						.link {
							width: 120px;
							font-size: 2rem;
							color: #fff;
							margin: 0px 10px;
							height: 40px;
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;
							&:first-child {
								margin-left: 0px;
							}
							&:last-child {
								margin-right: 0px;
							}
							&.facebook {
								background-color: #3b5998;
								&:hover {
									background-color: #223458;
								}
							}
							&.twitter {
								background-color: #1da1f2;
								&:hover {
									background-color: #0e4c72;
								}
							}
							&.linkedin {
								background-color: #00a0dc;
								&:hover {
									background-color: #00729c;
								}
							}
						}
					}
				}
				&__right {
					margin-left: 0px;
					.post-header__featuredImage {
						height: 100%;
						width: 100%;
						object-fit: cover;
						display: block;
						border-radius: 8px;
						box-shadow: 0 1px 4px rgba(0, 0, 0, 0.22);
					}
				}
			}
			.affiliate-disclosure {
				width: 90%;
				margin: auto;
				max-width: 600px;
				margin-top: 30px;
				margin-bottom: 15px;
				min-width: 410px;
				padding: 0px 20px;
				.banner--head {
					display: flex;
					align-items: center;
					width: 100%;
					border-width: 2px 2px 0px 2px;
					border-style: solid solid solid solid;
					-webkit-border-top-left-radius: 4px;
					-webkit-border-top-right-radius: 4px;
					-moz-border-radius-topleft: 4px;
					-moz-border-radius-topright: 4px;
					border-top-left-radius: 4px;
					border-top-right-radius: 4px;
					border-color: $off-black $off-black $off-black $off-black;
					background-color: rgba(0, 0, 0, 0.1);
					padding-left: 10px;
					height: 40px;
					font-size: 20px;
				}
				.banner--body {
					background: $off-black;
					padding: 10px;
					padding-bottom: 15px;
					padding-left: 20px;
					color: $white;
					font-size: 1em;
					.banner--spacing {
						margin-top: 10px;
					}
					.ad {
						margin-top: 2px;
					}
				}
			}
		}
		.markdown-body {
			width: 90vw;
			min-width: 410px;
			padding: 20px;
			padding-top: 0px;
			margin: 0px auto;
			font-size: 18px;
			line-height: 1.75em;
			color: #333;
			font-family: Lato, 'Times New Roman', Times, serif;

			div {
				iframe {
					width: 100%;
					height: 300px;
					&.podcast {
						height: auto;
					}
				}
			}

			h1,
			h2 {
				font-family: Lato, -apple-system, system-ui, BlinkMacSystemFont,
					'Helvetica Neue', Arial, sans-serif;
			}
			ul + pre {
				margin-top: 16px;
			}

			li p {
				margin-top: 16px;
			}
			pre {
				background-color: #272822;
				color: #fafafa;
			}
			p {
				margin-bottom: 15px;
				img {
					display: block;
					margin: auto;
				}
			}
			ul,
			ol {
				font-size: 18px;
				font-weight: normal;
			}
			a {
				color: rgb(194, 77, 1);
				text-decoration: none;
				display: inline;
			}

			p code {
				margin: 0 3px;
			}
		}
		.comments {
			width: 90vw;
			min-height: 347px;
			padding: 20px 20px 0px 20px;
			padding-top: 20px;
			margin: 0px auto;
		}
		.blog-guide {
			width: 90vw;
			background-color: #fff;
			margin: 0px auto;
			padding: 0px 20px 20px 20px;
			overflow: auto;
			display: flex;
			min-width: 410px;
			flex-direction: column;
			.article {
				width: 100%;
				box-shadow: 0 2px 4px 0 rgba(14, 30, 37, 0.12);
				padding: 1.618em 1.618em 0 1.618em;
				position: relative;
				border-radius: 8px;
				overflow: hidden;
				display: flex;
				min-height: 250px;
				flex-direction: column;
				justify-content: space-evenly;
				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					height: calc(1.618em * 2 / 3);
					background: $dark-orange;
				}
				h2 {
					font-size: 1.5em;
					a {
						text-decoration: none;
					}
				}
				p {
					font-size: 16px;
					padding: 16px 0px;
				}
				&:last-child {
					margin-top: 20px;
				}
			}
		}
	}
}

@media (min-width: 981px) {
	.blog-post {
		position: relative;
		.back-to-blog {
			position: fixed;
			background-color: #fafafa;
			width: 100%;
			padding: 10px;
			border-bottom: 1px solid rgba(34, 34, 34, 0.25);
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
			height: 43px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			a {
				display: flex;
				flex-direction: row;
				width: 125px;
				align-items: center;
				i {
					padding-right: 5px;
				}
			}
			p {
				font-weight: bold;
				display: block;
				margin-right: 15px;
			}
		}
		a {
			&:hover {
				color: rgb(194, 77, 1);
			}
		}
		.container {
			width: 100%;
			background-color: #f8f8f8;
			padding: 43px 0px 20px 0px;
			.wrapper {
				background: $off-white;
				padding: 0px 50px;
				.post-header {
					max-width: 1080px;
					margin: auto;
					padding: 25px;
					display: flex;
					flex-direction: row;
					&__left,
					&__right {
						display: flex;
						flex-direction: column;
					}
					&__left {
						max-width: 40%;
						min-width: 33%;
						justify-content: center;
						.post-title {
							margin-top: 0px;
							background-color: $off-white;
							font-size: 2.1em;
						}
						.post-author {
							background-color: $off-white;
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							align-items: center;
							padding: 5px 0px 15px;
							.post-info-wrapper {
								display: flex;
							}
							.avatar {
								width: 60px;
								height: 60px;
								border-radius: 50%;
								margin-right: 12.5px;
							}
							.avatar-info {
								display: flex;
								flex-direction: column;
								justify-content: center;
								.author-name {
									font-size: 1.2em;
									font-weight: normal;
									color: rgb(194, 77, 1);
								}
								.date {
									font-size: 1em;
									color: $subtitle-text-color;
									span {
										display: inline-block;
										padding: 0px 4px;
									}
								}
							}
						}
						.share-links {
							display: flex;
							.link {
								width: 120px;
								font-size: 2rem;
								color: #fff;
								margin: 0px 10px;
								height: 40px;
								display: flex;
								flex-direction: column;
								justify-content: center;
								align-items: center;
								&:first-child {
									margin-left: 0px;
								}
								&:last-child {
									margin-right: 0px;
								}
								&.facebook {
									background-color: #3b5998;
									&:hover {
										background-color: #223458;
									}
								}
								&.twitter {
									background-color: #1da1f2;
									&:hover {
										background-color: #0e4c72;
									}
								}
								&.linkedin {
									background-color: #00a0dc;
									&:hover {
										background-color: #00729c;
									}
								}
							}
						}
					}
					&__right {
						margin-left: 25px;
						.post-header__featuredImage {
							height: 100%;
							width: 100%;
							object-fit: cover;
							display: block;
							border-radius: 8px;
							box-shadow: 0 1px 4px rgba(0, 0, 0, 0.22);
						}
					}
				}
				.affiliate-disclosure {
					max-width: none;
					width: 700px;
					margin: auto;
					padding: 0 30px;
					.banner--head {
						display: flex;
						align-items: center;
						width: 100%;
						border-width: 2px 2px 0px 2px;
						border-style: solid solid solid solid;
						-webkit-border-top-left-radius: 4px;
						-webkit-border-top-right-radius: 4px;
						-moz-border-radius-topleft: 4px;
						-moz-border-radius-topright: 4px;
						border-top-left-radius: 4px;
						border-top-right-radius: 4px;
						border-color: $off-black $off-black $off-black $off-black;
						background-color: rgba(0, 0, 0, 0.1);
						padding-left: 10px;
						height: 40px;
						font-size: 20px;
					}
					.banner--body {
						background: $off-black;
						padding: 10px;
						padding-bottom: 15px;
						padding-left: 20px;
						color: $white;
						font-size: 1em;
						.banner--spacing {
							margin-top: 10px;
						}
						.ad {
							margin-top: 2px;
						}
					}
				}
			}
			.markdown-body {
				width: 700px;
				padding: 25px;
				margin: 0px auto;
				color: rgba(0, 0, 0, 0.84);
				font-size: 19px;
				line-height: 1.75em;

				strong {
					font-weight: bold;
				}

				div {
					iframe {
						width: 100%;
						height: 450px;
						&.podcast {
							height: auto;
						}
					}
				}

				h1,
				h3,
				h4 {
					font-family: Lato, -apple-system, system-ui, BlinkMacSystemFont,
						'Helvetica Neue', Arial, sans-serif;
				}
				pre {
					background-color: #272822;
					color: #fafafa;
					font-size: 16px;
				}
				p {
					margin: 24px auto 16px auto;
					font-size: 1em;
					img {
						display: block;
						margin: 20px auto;
					}
				}
				ul,
				ol {
					font-size: 1em;
					font-weight: normal;
				}
				a {
					color: rgb(194, 77, 1);
					text-decoration: none;
					display: inline;
				}
			}
			.comments {
				width: 700px;
				padding: 20px 20px 0px 20px;
				margin: 0px auto;
				min-height: 404px;
			}
			.blog-guide {
				background-color: #fff;
				max-width: 1080px;
				margin: 0px auto;
				padding: 25px;
				overflow: auto;
				display: flex;
				flex-direction: row;
				.article {
					margin: 0px 2%;
					width: 50%;
					box-shadow: 0 2px 4px 0 rgba(14, 30, 37, 0.12);
					padding: 1.618em;
					a {
						text-decoration: underline;
					}
					&:last-child {
						margin-top: 0px;
					}
					p {
						font-size: 17px;
					}
				}
			}
		}
	}
}
