// Standard constants
$link-color: #c24d01;
$text-color: rgba(0, 0, 0, 0.84);
$subtitle-text-color: #767676;

// Theme colors
$off-black: rgb(33, 35, 41);
$bright-orange: #ff6600;
$off-white: rgba(255, 255, 255, 0.9);
$white: #fff;

// Used for banners, buttons, etc
$dark-orange: rgb(194, 77, 1);

.highlight {
	color: $link-color;
}

// Used for share links
.link {
	width: 120px;
	font-size: 2rem;
	color: #fff;
	margin: 0px 10px;
	height: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&:first-child {
		margin-left: 0px;
	}
	&:last-child {
		margin-right: 0px;
	}
	&.facebook {
		background-color: #3b5998;
		&:hover {
			background-color: #223458;
		}
	}
	&.twitter {
		background-color: #1da1f2;
		&:hover {
			background-color: #0e4c72;
		}
	}
	&.linkedin {
		background-color: #00a0dc;
		&:hover {
			background-color: #00729c;
		}
	}
}