@import '../styles/reset.scss';

@import '../styles/constants';

@import '../styles/components/navbar';
@import '../styles/components/footer';
@import '../styles/components/projectPage';

@import '../styles/scenes/404';
@import '../styles/scenes/home';
@import '../styles/scenes/about';
@import '../styles/scenes/contact';
@import '../styles/scenes/beesdesign';
@import '../styles/scenes/blogList';
@import '../styles/scenes/blogPost';

@import '../styles/misc/prism';

.fade-enter {
	opacity: 0.01;
}

.fade-enter.fade-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
}

.fade-leave {
	opacity: 1;
}

.fade-leave.fade-leave-active {
	opacity: 0.01;
	transition: opacity 300ms ease-in;
}

html,
body {
	.site {
		font-family: Source Sans Pro, -apple-system, system-ui, BlinkMacSystemFont,
			'Helvetica Neue', Arial, sans-serif;
		main {
			padding-top: 64px;
			min-height: calc(100vh - 52px);
			background-color: rgb(248, 248, 248);
			min-width: 410px;
		}

		.no-select {
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
	}
}

@media (max-width: 800px) {
	.progress-wrapper {
		display: none;
	}
}
